.name-highlight{
    color:palevioletred;
    
}
h2{
    text-align: center;
}
h3{
    text-align:center;
}
h4{
    text-align:center;
    font-size: small;
    color: gray;
}
h6{
    font-size: large;
}
p{
    color:blue;
}
body{
    font-family: 'Roboto', sans-serif;
}
.link-button{
    border:5px solid palevioletred;
    text-decoration: none;
    border-radius: 5px;
    background-color:palevioletred;
    color: papayawhip;
    padding :5px;
}
.half-width{
    float: left;
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
    
}
section{
    height:500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.picture-change img{
    float: left;
    width:25%;
}
.picture-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat:no-repeat;
}
footer p{
    text-align: center;
    color:black;
} 
.final-change{
    border:25px solid palevioletred;
    border-radius:15px;
    background-color:palevioletred;
    width:90%;
    text-align:center;
    float: 50%;

}
.new-change{
    background-image:url(images/header-bg.png);
    background-repeat: no-repeat;
}
    
    
